{% block content %}
<style>
    .main{
        width: 100%;
        border: 2px solid black;
        padding: 15px;
    }
    h2,h3,h5{
        color: rgb(43, 41, 32);
        margin: 0;
        font-weight: bold;
    }
    h5{
        padding: 5px;
    }
    p{
        margin: 0;
    }

    td,th {
     border: 1px solid black;
     text-align: center;
     padding: 5px;
     background-color: rgb(248, 241, 229);
     color: black;
    }
     table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        overflow: hidden;
        }
</style>

    <div class="main" >
        <div class="header" style="text-align: center;" >
            <h2>{{setting[1]}}</h2>
            <p style="padding-top: 5px;"> {{setting[6]}} </p>
            <p>Phone : {{setting[2]}} <span>{% if setting[3]!="" %} Email : {{setting[3]}} {% endif %}</span> </p>
            <p >{% if setting[4]!="" %} Website : {{setting[4]}} {% endif %}</p>
            <p style="margin-bottom: 40px;">{% if setting[5]!="" %} Trade License / Company : {{setting[5]}} {% endif %}</p>
        </div>
        <div style="border: 3px solid black; margin-bottom: 5px;"></div>

        <div style="margin-bottom: 100px;">
            <h3 style="text-align: center; padding: 5px;border: 1px solid black; margin-top: 10px;">Supplier Ledger</h3>
                <div>
                    {% if tod=="" and tod=="" %}
                    {% else %}
                    <p>From Date : {{fromd}} To Date : {{tod}}  </p> 
                    {% endif %}
                    {% if supplier[0] ==0 %}
                    {% else %}
                    <p>Supplier Name : {{supplier[1]}}  </p> 
                    <p>Address : {{supplier[2]}} </p> 
                    <p>Contact No : {{supplier[3]}}</p>
                    {% endif %}
                </div>
             <br/>
             <table width="100%">
                <tr>
                    <th>Date</th>
                    <th>Invoice</th>
                    <th>Type</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                </tr>
                {% set debit = namespace(value=0) %}
                {% set credit = namespace(value=0) %}
                {% for ledger in ledger %}
                <tr>
                    <td>{{ledger[2]}}</td>
                    
                    {% if ledger[3]==None %} 
                    <td></td>
                    {% else %} 
                    <td>{{ledger[3]}}</td> 
                    {% endif %} 
 
                    <td>{{ledger[1]}}</td>   
 
                    {% if ledger[1]=="PURCHASE" or ledger[1]=="Previous Due" %} 
                        <td>{{ledger[4]}}</td> 
                        {% set debit.value=debit.value+ledger[4]|float %}
                    {% elif ledger[1]=="RETURN" %}
                            {% set amount=ledger[8]|float*ledger[9]|float-ledger[10]|float %}
                            <td>-{{ledger[8]|float*ledger[9]|float-ledger[10]|float}}</td>
                            {% set debit.value=debit.value - amount %}
                    {% else %} 
                    <td></td>
                    {% endif %} 
 
                    {% if ledger[5]!=None %}  
                    <td>{{ledger[5]}}  </td>
                         {% set credit.value=credit.value+ledger[5]|float %}
                    {% elif ledger[6]!=None %} 
                    <td>{{ledger[6]}} </td>
                         {% set credit.value=credit.value+ledger[6]|float %}
                    {% elif ledger[7]!=None %} 
                    <td>-{{ledger[7]}}  </td>
                           {% set credit.value=credit.value-ledger[7]|float %}
                    {% else %}   
                    <td> </td>  
                    {% endif %} 
                    <td>
                     {{debit.value-credit.value}}
                    </td>        
                </tr>
                {% endfor %}
                <tr>
                 <td colspan="2"></td>
                 <td colspan="2"></td>
                 <td> Debit Amount </td>
                 <td> {{debit.value}} </td>
             </tr>
             <tr>
                 <td colspan="2"></td>
                 <td colspan="2"></td>
                 <td> Credit Amount </td>
                 <td> {{credit.value}} </td>
             </tr>
             <tr>
                 <td colspan="2"></td>
                 <td colspan="2"></td>
                 <td> Due Balance </td>
                 <td> {{debit.value-credit.value}} </td>
             </tr>
             </table>
        </div>
    </div>
    {% endblock %}